.leftslide{
  position:relative;
      // z-index: 20;
  animation-name: leftslide;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;

}

@keyframes leftslide {
  0% { transform: translateX(-120%); }
  100% { transform: translateX(0%); }
}

.rightslide{
  position:relative;
      // z-index: 20;
  animation-name: rightslide;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes rightslide {
  0% { transform: translateX(150%); }
  100% { transform: translateX(0%); }
}

.pop-in{
  position:relative;
      // z-index: 20;
  animation-name: pop-in;
  animation-duration: .5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes pop-in {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}

.mo{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 5.5s;
  animation-fill-mode: both;
}
.mo1{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 5.9s;
  animation-fill-mode: both;
}
.mo2{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 6.3s;
  animation-fill-mode: both;
}
.mo3{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 6.7s;
  animation-fill-mode: both;
}
.mo4{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 7.1s;
  animation-fill-mode: both;
}

.moclassic{
  position:relative;
      // z-index: 20;
  animation-name: mo;
  animation-duration: .5s;
  animation-delay: 7.9s;
  animation-fill-mode: both;
}

@keyframes mo {
0% { opacity: 0; }
100% { opacity: 1; }
}

.japanimation{
  position:relative;
      // z-index: 20;
  animation-name: japanimation;
  animation-duration: .5s;
  animation-delay: 7.5s;
  animation-fill-mode: both;
}

@keyframes japanimation {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}

@keyframes animateWave {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1,1.08);
  }
  100%{
    transform: scale(1,1);
  }
}
.wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}

.thenav {
  position: relative;
  display: block;
  cursor: pointer;
  display: inline-block;
    list-style: none;
  margin: 0;
  padding: 0;
}

.thenav:before, .thenav:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.thenav:before {
  left: -2.5px;
}
.thenav:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.thenav:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.thenav:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.grow:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.grow{
  transition:1.5s ease-in-out;
}