body{
	overflow-x:hidden;
}
// @media screen and (min-width: 40em){

.one{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 75px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
}

.one-five{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(7, 75px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  transform:skewY(7deg);
}

.bgskew{
	background-color: #6B6B6B;
	height:80vh;
}

.two{
	display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 50px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  z-index:11;
}

.three{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  position:relative;
  z-index:1;
}

.four{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.four-one{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg4{
background-color:#f5d6dd;
	height:130vh;
	z-index:-1;
}
.four-two{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg5{
background-color:#e7f3e0;
	height:130vh;
	z-index:-1;
}
.four-three{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg6{
background-color:#fefcdd;
	height:130vh;
	z-index:-1;
}
.bg3{
	background-color:#ece4f0;
	height:130vh;
	z-index:-1;
}

.background1{
	background-color: #fefcdc;
	height:130vh;

}

.background2{
	background-color: #fcfcfc;
	z-index:2;
	height:110vh;
	transform:skewY(-7deg);
}
.five{
	display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
  height:150vh;
  transform: skewY(-2deg);
}
.bg7{
background-color:#fcfcfc;
	height:150vh;
	z-index:-5;
	transform:skewY(2deg);
}
.six{
	display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
  height:150vh;
  transform: skewY(-2deg);
}

.qaf{
	display:grid;
  grid-template-columns: repeat(50, 30px);
  grid-template-rows: repeat(25, 30px);
  position:absolute;
  z-index:20;
  margin-top:-375px;
}

.bg8{
background-color:#e7f3e0;
	height:115vh;
	z-index:1;
	transform:skewY(2deg);
	margin-top:-450px;
	overflow:hidden;
	position:absolute;

}
.contacttt{
	grid-column:4 / span 14;
	grid-row:7 / span 10;
	font-size:3rem;
		z-index:40;
}
.contactt{
	grid-column:4 / span 13;
	grid-row:11 / span 2;
	margin-top:-20px;
	margin-right: 40px;
	z-index:40;
}
.conbutton{
	grid-column:4;
	grid-row:13;
	outline:5px solid;
	color:$black;
		z-index:40;
}
.newsbutton{
	grid-column:4;
	grid-row:22;
	outline:5px solid;
	color:$black;
	z-index:40;
}
.startbutton, .startbutton a{
	grid-column:13 / span 3;
	grid-row:1 / span 9;
	outline:5px solid;
	font-size:2rem;
	color:$black;
	text-decoration:none;
	z-index:20;
	margin:auto;
	padding: 0 20px;
	cursor:pointer;
}

.newss{
grid-column:4 / span 26;
	grid-row:20 / span 2;
		margin-top:-20px;
	margin-right: 40px;
}
.newsletter{
	grid-column:4 / span 25;
	grid-row:16 / span 5;
	font-size:3rem;
}

.talktome{
	grid-row:3;
	grid-column:3 / span 10;
	font-size:6rem;
	z-index:1;
	color:$cherry;
}
.talktome1{
	grid-row:3;
	grid-column:3 / span 10;
	font-size:6.1rem;
	z-index:0;
	color:$black;
}
.whomstve{
	grid-column:2/ -1;
	grid-row:4;
	font-size:6rem;
}

.howto{
	font-size:6rem;
	grid-column:2 / -1;
	grid-row:5;
	margin-top:120px;
	z-index:10;
}

.steps{
	transform: rotate(-90deg);
	font-size: 8rem;
	grid-column: 19 / -1;
 justify-self: center;
 grid-row: 5 / span 4;
 color: $melon;
 z-index:1;
}

.steps2{
	transform: rotate(-90deg);
	font-size: 9rem;
	grid-column: 19 / -1;
 justify-self: center;
 grid-row: 7 / span 4;
 color: $black;
 z-index:0;
}

.steptilt1{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:5 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.steptilt2{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:10 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.steptilt3{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:15 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.step1{
	font-size:2rem;
	grid-column:4 / span 4;
	grid-row:8 / span 2;
	text-align:center;
		align-self:center;
}

.step2{
	font-size:2rem;
	grid-column:9 / span 4;
	grid-row:8 / span 2;
	text-align:center;
		align-self:center;
}
.step3{
	font-size:2rem;
	grid-column:14 / span 4;
	grid-row:8 / span 2;
	text-align:center;
	align-self:center;
}

.background{
	background-color: #6B6B6B;
	height:82vh;
}

.drinkgoes{
	grid-row: 2;
    grid-column: 2/ span 6;
    justify-self: center;
    font-size: 6rem;
    color: $black;
    z-index:7;
        margin-top:30px;
}

.drinkgoes2{
	grid-row: 2;
    grid-column: 2/ span 6;
    justify-self: center;
    font-size: 6.1rem;
    color: #ffffff;
    z-index:6;
    margin-top:30px;
}

.goes{
	grid-row: 3;
    grid-column: 7/ span 6;
    justify-self: center;
    font-size: 6rem;
    color: $black;
    z-index:3;
    margin-top:30px;
    margin-left:50px;
}

.goes2{
	grid-row: 3;
    grid-column: 7/ span 6;
    justify-self: center;
    font-size: 6.1rem;
    color: #ffffff;
    z-index:2;
    margin-top:30px;
    margin-left:50px;
}

.pop{
	grid-row: 5;
    grid-column: 6 / span 5;
    justify-self: center;
    font-size:12rem;
    transform: rotate(-7deg) !important;
    margin:0;
    color: $cherry;
    z-index:8;
}
.pop2{
	grid-row: 5;
    grid-column: 6 / span 5;
    justify-self: center;
    font-size:11.5rem;
    transform: rotate(-7deg) !important;
    margin:0;
    z-index:7;
    color: #fcfcfc;
}
.modern{
	grid-row: 1;
 	grid-column: 2 / span 6;
	 font-size: 10rem;
	 margin-top:113px;
	 justify-self:center;
}
.modern1{
	grid-row: 1;
 	grid-column: 7 / span 10;
	 font-size: 10rem;
	 justify-self:center;
}
.modern2{
	grid-row: 3;
 	grid-column: 3 / span 8;
	 font-size: 10rem;
	 justify-self:center;
	 margin-top:80px;
}
.modern3{
	grid-row: 3;
 	grid-column: 8 / span 8;
	 font-size: 10rem;
	 justify-self:center;
	 margin-top:80px;
	 margin-left:40px;
}
.modern4{
	grid-row: 3;
 	grid-column: 13 / span 6;
	 font-size: 10rem;
	 justify-self:center;
	 margin-top:80px;
}

.classic{
	grid-row: 6;
    grid-column: 1/ -1;
    justify-self:center;
    font-size:6rem;
    margin-top:100px;
    transform: rotate(2deg);
}

.japanese{
	color:$grape;
	grid-row: 3;
    grid-column: 1/ span 19;
	font-size:11rem;
	justify-self:center;
	margin-top:220px;
	font-family: 'Bold';
	transform: rotate(2deg);
	z-index:1;
}
.japanese2{
	color:$black;
	grid-row: 3;
    grid-column: 1/ span 19;
	font-size:11.1rem;
	justify-self:center;
	margin-top:225px;
	font-family: 'Bold';
	transform: rotate(2deg);
	z-index:0;
}

.grapetitle{
	color:$grape;
	grid-row: 2;
    grid-column: 5/ span 19;
	font-size:11rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-200px;
}
.grapetitle1{
	color:$black;
	grid-row: 2;
    grid-column: 5/ span 19;
	font-size:11.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-200px;
}
.motto{
	color:$black;
	grid-row: 11;
    grid-column: 12/ span 8;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
}
.cal{
	color:$black;
	grid-row: 16;
    grid-column: 2/ span 9;
	font-size:3rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 4/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug{
color: #212121;
 grid-row: 16;
 grid-column: 8/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc{
	color: #212121;
 justify-self: center;
  grid-row: 18 / span 2;
 grid-column: 10/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro{
	color: #212121;
 grid-row: 16;
 grid-column: 14/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 17/ span 4;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.cherrytitle{
	color:$cherry;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-300px;
}
.cherrytitle1{
	color:$black;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-300px;
}
.motto1{
	color:$black;
	grid-row: 11;
    grid-column: 12/ span 8;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
}
.cal1{
	color:$black;
	grid-row: 16;
    grid-column: 2/ span 9;
	font-size:3rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc1{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 4/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug1{
color: #212121;
 grid-row: 16;
 grid-column: 8/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc1{
	color: #212121;
 justify-self: center;
  grid-row: 18 / span 2;
 grid-column: 10/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro1{
	color: #212121;
 grid-row: 16;
 grid-column: 14/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc1{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 17/ span 4;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.melontitle{
	color:$melon;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-400px;
}
.melontitle1{
	color:$black;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-400px;
}
.motto2{
	color:$black;
	grid-row: 11;
    grid-column: 12/ span 8;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
}
.cal2{
	color:$black;
	grid-row: 16;
    grid-column: 2/ span 9;
	font-size:3rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc2{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 4/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug2{
color: #212121;
 grid-row: 16;
 grid-column: 8/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc2{
	color: #212121;
 justify-self: center;
  grid-row: 18 / span 2;
 grid-column: 10/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro2{
	color: #212121;
 grid-row: 16;
 grid-column: 14/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc2{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 17/ span 4;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}

.lemontitle{
	color:$lemon;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-500px;
}
.lemontitle1{
	color:$black;
	grid-row: 1;
    grid-column: 5/ span 19;
	font-size:11.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-500px;
}
.motto3{
	color:$black;
	grid-row: 11;
    grid-column: 12/ span 8;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
}
.cal3{
	color:$black;
	grid-row: 16;
    grid-column: 2/ span 9;
	font-size:3rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc3{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 4/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug3{
color: #212121;
 grid-row: 16;
 grid-column: 8/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc3{
	color: #212121;
 justify-self: center;
  grid-row: 18 / span 2;
 grid-column: 10/ span 5;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro3{
	color: #212121;
 grid-row: 16;
 grid-column: 14/ span 9;
 font-size: 3rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc3{
	color: #212121;
 grid-row: 18 / span 2;
 grid-column: 17/ span 4;
 font-size: 2rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}


// }

@media screen and (min-width: 40em) and (max-width: 63.9375em){
.pop {
 grid-row: 8;
}
.pop2 {
 grid-row: 8;
}
.goes {
 grid-row: 4;
 grid-column: 8/ span 6;
}
.modern {
 grid-column: 1 / span 6;
 font-size: 8rem;
}
.modern1 {
 font-size: 8rem;
 margin-top: 110px;
}
.modern2 {
 font-size: 8rem;
}
.modern3 {
 font-size: 8rem;
}
.modern4 {
 font-size: 8rem;
}
.japanese {
 font-size: 8rem;
}
.japanese2 {
 font-size: 8.1rem;
}
.howto {
 font-size: 5rem;
 grid-row: 7;
}
.steptilt1 {
 grid-column: 5 / span 6;
}
.steptilt2 {
 grid-column: 10 / span 6;
}
.steptilt3 {
 grid-column: 15 / span 6;
}

.background2 {
 height: 85vh;
}
.startbutton, .startbutton a {
 grid-row: 1 / span 6;
}
.background1 {
 height: 100vh;
}
.grapetitle {
 grid-column: 2/ span 11;
 z-index: 11;
}
.grapetitle1 {
 grid-column: 2/ span 11;
 z-index: 10;
}
.motto {
 grid-row: 16;
 grid-column: 4/ span 8;
 text-align: center;
 margin-left: -40px;
}
.cal {
 grid-row: 19;
 grid-column: 3/ span 9;
}
.caldesc {
 grid-row: 21 / span 2;
 grid-column: 5/ span 5;
}
.sug {
 grid-row: 23;
 grid-column: 3/ span 9;
}
.sugdesc {
 grid-row: 24 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.bg3 {
 height: 180vh;
}
.gro {
 grid-row: 26;
 grid-column: 3/ span 9;
}
.grodesc {
 grid-row: 27 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}

.cherrytitle {
 grid-column: 2/ span 11;
 z-index: 10;
}
.cherrytitle1 {
 grid-column: 2/ span 11;
}
.motto1 {
 grid-row: 16;
 grid-column: 4/ span 8;
 text-align: center;
 margin-left: -40px;
 text-align:center;
}
.cal1 {
 grid-row: 19;
 grid-column: 3/ span 9;
}
.caldesc1 {
 grid-row: 21 / span 2;
 grid-column: 5/ span 5;
}
.sug1 {
 grid-row: 23;
 grid-column: 3/ span 9;
}
.bg4 {
 height: 180vh;
}
.sugdesc1 {
 grid-row: 24 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.gro1 {
 grid-row: 26;
 grid-column: 3/ span 9;
}
.grodesc1 {
 grid-row: 27 / span 2;
 grid-column: 4/ span 6;
 margin-top: -10px;
 margin-left: 60px;
}
.bg5 {
 height: 180vh;
}

.melontitle {
 grid-column: 2/ span 11;
 z-index: 10;
}
.melontitle1 {
 grid-column: 2/ span 11;
 z-index: 9;
}
.motto2 {
 grid-row: 16;
 grid-column: 4/ span 8;
 text-align: center;
 margin-left: -40px;
 text-align:center;
}
.cal2 {
 grid-row: 19;
 grid-column: 3/ span 9;
}
.caldesc2 {
 grid-row: 21 / span 2;
 grid-column: 5/ span 5;
}
.sug2 {
 grid-row: 23;
 grid-column: 3/ span 9;
}
.sugdesc2 {
 grid-row: 24 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.gro2 {
 grid-row: 26;
 grid-column: 3/ span 9;
}
.grodesc2 {
 grid-row: 27 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.bg6 {
 height: 180vh;
}

.lemontitle {
 grid-column: 2/ span 11;
 z-index: 11;
}
.lemontitle1 {
 grid-column: 2/ span 11;
 z-index: 10;
}
.motto3 {
 grid-row: 16;
 grid-column: 4/ span 8;
 text-align: center;
 margin-left: -40px;
 text-align:center;
}
.cal3 {
 grid-row: 19;
 grid-column: 3/ span 9;
}
.caldesc3 {
 grid-row: 21 / span 2;
 grid-column: 5/ span 5;
}
.sug3 {
 grid-row: 23;
 grid-column: 3/ span 9;
}
.sugdesc3 {
 grid-row: 24 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.gro3 {

 grid-row: 26;
 grid-column: 3/ span 9;
 grid-column: 5/ span 5;
 margin-top: -10px;
}
.grodesc3 {
 grid-row: 27 / span 2;
 grid-column: 5/ span 5;
 margin-top: -10px;
}

.newsletter {
 grid-column: 4 / span 20;
 grid-row: 23 / span 5;
}
.newss {
 grid-column: 4 / span 20;
 grid-row: 29 / span 2;
}
.newsbutton {
 grid-row: 31;
}

.talktome {
 grid-row: 7;
}
.talktome1 {
 grid-row: 7;
}
.contacttt {
 grid-row: 14 / span 10;
}
.contactt {
 grid-row: 18 / span 2;
}
.conbutton {
 grid-row: 20;
}
.qaf {
 grid-template-rows: repeat(30, 30px);
}

.bg7 {
 height: 120vh;
}
.five {
 grid-template-rows: repeat(25, 30px);
}
.goes2 {
 grid-row: 4;
 grid-column: 8/ span 6;
}
.bg8 {
 height: 140vh;
}
}



@media screen and (max-width: 39.9375em){
.one{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 75px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
}

.one-five{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(7, 75px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  transform:skewY(7deg);
}

.bgskew{
	background-color: #6B6B6B;
	height:80vh;
}

.two{
	display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 50px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  z-index:11;
}

.three{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  max-width: 75em;
  position:relative;
  z-index:1;
}

.four{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.four-one{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg4{
background-color:#f5d6dd;
	height:160vh;
	z-index:-1;
}
.four-two{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg5{
background-color:#e7f3e0;
	height:160vh;
	z-index:-1;
}
.four-three{
	display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.bg6{
background-color:#fefcdd;
	height:160vh;
	z-index:-1;
}
.bg3{
	background-color:#ece4f0;
	height:180vh;
}

.background1{
	background-color: #fefcdc;
	height:0vh;
	opacity:0;

}

.background2{
	background-color: #fcfcfc;
	z-index:2;
	height:110vh;
	transform:skewY(-7deg);
}
.five{
	display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(25, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
  height:150vh;
  transform: skewY(-2deg);
}
.bg7{
background-color:#fcfcfc;
	height:150vh;
	z-index:-5;
	transform:skewY(2deg);
}
.six{
	display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(20, 30px);
  grid-gap:2em;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  z-index:0;
  height:150vh;
  transform: skewY(-2deg);
}

.qaf{
	display:grid;
  grid-template-columns: repeat(50, 30px);
  grid-template-rows: repeat(25, 30px);
  position:absolute;
  z-index:20;
  margin-top:-375px;
}

.bg8{
background-color:#e7f3e0;
	height:140vh;
	z-index:1;
	transform:skewY(2deg);
	margin-top:-450px;
	overflow:hidden;
	position:absolute;

}
.contacttt{
	grid-column:2 / span 14;
	grid-row:7 / span 10;
	font-size:2rem;
		z-index:40;
}
.contactt{
	grid-column:2 / span 13;
	grid-row:11 / span 2;
	margin-top:-20px;
	margin-right: 40px;
	z-index:40;
}
.conbutton{
	grid-column:2;
	grid-row:13;
	outline:5px solid;
	color:$black;
		z-index:40;
}
.newsbutton{
	grid-column:2;
	grid-row:23;
	outline:5px solid;
	color:$black;
	z-index:40;
}
.startbutton, .startbutton a{
	opacity:0;
}

.newss{
grid-column:2 / span 13;
	grid-row:21 / span 2;
		margin-top:-20px;
	margin-right: 40px;
}
.newsletter{
	grid-column:2 / span 15;
	grid-row:16 / span 5;
	font-size:2rem;
}

.talktome{
	grid-row:3;
	grid-column:2 / span 10;
	font-size:3rem;
	z-index:1;
	color:$cherry;
}
.talktome1{
	grid-row:3;
	grid-column:2 / span 10;
	font-size:3.05rem;
	z-index:0;
	color:$black;
}

.whomstve{
	grid-column:2/ 6;
	grid-row:3;
	font-size:3rem;
	margin-left:-10px;
}

.howto{
	opacity:0;
}

.steps{
	transform: rotate(-90deg);
	font-size: 8rem;
	grid-column: 19 / -1;
 justify-self: center;
 grid-row: 5 / span 4;
 color: $melon;
 z-index:1;
}

.steps2{
	transform: rotate(-90deg);
	font-size: 9rem;
	grid-column: 19 / -1;
 justify-self: center;
 grid-row: 7 / span 4;
 color: $black;
 z-index:0;
}

.steptilt1{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:5 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.steptilt2{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:10 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.steptilt3{
	transform: rotate(-4deg);
	font-size:3rem;
	grid-column:15 / span 4;
	grid-row:6 / -1;
	margin-top:70px;
	justify-self:center;
	margin-right:60px;
}

.step1{
	font-size:2rem;
	grid-column:4 / span 4;
	grid-row:8 / span 2;
	text-align:center;
		align-self:center;
}

.step2{
	font-size:2rem;
	grid-column:9 / span 4;
	grid-row:8 / span 2;
	text-align:center;
		align-self:center;
}
.step3{
	font-size:2rem;
	grid-column:14 / span 4;
	grid-row:8 / span 2;
	text-align:center;
	align-self:center;
}

.background{
	background-color: #6B6B6B;
	height:100vh;
}

.drinkgoes{
	grid-row: 2;
    grid-column: 2/ span 6;
    justify-self: center;
    font-size: 3rem;
    color: $black;
    z-index:7;
        margin-top:30px;
}

.drinkgoes2{
	grid-row: 2;
    grid-column: 2/ span 6;
    justify-self: center;
    font-size: 3.1rem;
    color: #ffffff;
    z-index:6;
    margin-top:30px;
}

.goes{
	grid-row: 4;
    grid-column: 7/ span 6;
    justify-self: center;
    font-size: 3rem;
    color: $black;
    z-index:5;
    margin-top:30px;
    margin-left:50px;
}

.goes2{
	grid-row: 4;
    grid-column: 7/ span 6;
    justify-self: center;
    font-size: 3.1rem;
    color: #ffffff;
    z-index:4;
    margin-top:30px;
    margin-left:50px;
}

.pop{
	grid-row: 6;
    grid-column: 5 / span 5;
    justify-self: center;
    font-size:12rem;
    transform: rotate(-7deg) !important;
    margin:0;
    color: $cherry;
    z-index:8;
    margin-top:40px;
}
.pop2{
	grid-row: 6;
    grid-column: 5 / span 5;
    justify-self: center;
    font-size:11.5rem;
    transform: rotate(-7deg) !important;
    margin:0;
    z-index:7;
    color: #fcfcfc;
    margin-top:25px;
}
.modern{
	grid-row: 1;
 	grid-column: 2 / span 6;
	 font-size: 3rem;
	 margin-top:108px;
	 justify-self:center;
}
.modern1{
	grid-row: 2;
 	grid-column: 4 / span 10;
	 font-size: 3rem;
	 justify-self:center;
	 margin-top:0px;
}
.modern2{
	grid-row: 2;
 	grid-column: 2 / span 8;
	 font-size: 3rem;
	 justify-self:center;
	 margin-top:80px;
}
.modern3{
	grid-row: 2;
 	grid-column: 4 / span 8;
	 font-size: 3rem;
	 justify-self:center;
	 margin-top:80px;
	 margin-left:40px;
}
.modern4{
	grid-row: 2;
 	grid-column: 8 / span 6;
	 font-size: 3rem;
	 justify-self:center;
	 margin-top:80px;
}

.classic{
	grid-row: 4;
    grid-column: 1/ -1;
    justify-self:center;
    font-size:3rem;
    margin-left:-200px;
    transform: rotate(2deg);
    margin-top:0px;
}

.japanese{
	color:$grape;
	grid-row: 1;
    grid-column: 1/ span 14;
	font-size:4rem;
	justify-self:center;
	margin-top:250px;
	font-family: 'Bold';
	transform: rotate(2deg);
	z-index:1;
}
.japanese2{
	color:$black;
	grid-row: 1;
    grid-column: 1/ span 14;
	font-size:4.1rem;
	justify-self:center;
	margin-top:250px;
	font-family: 'Bold';
	transform: rotate(2deg);
	z-index:0;
}

.grapetitle{
	color:$grape;
	grid-row: 5;
    grid-column: 2/ span 5;
	font-size:5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-200px;
}
.grapetitle1{
	color:$black;
	grid-row: 5;
    grid-column: 2/ span 5;
	font-size:5.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-200px;
}
.motto{
	color:$black;
	grid-row: 11;
    grid-column: 2/ span 5;
	font-size:1.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
	text-align:center;
}
.cal{
	color:$black;
	grid-row: 15;
    grid-column: 1/ span 7;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc{
	color: #212121;
 grid-row: 17 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug{
color: #212121;
 grid-row: 18;
 grid-column: 1/ span 7;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc{
	color: #212121;
 justify-self: center;
  grid-row: 19 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;
 margin-top:150px;

}
.gro{
	color: #212121;
 grid-row: 22;
 grid-column: 1/ span 7;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc{
	color: #212121;
 grid-row: 22 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;
margin-top:120px;
}
.cherrytitle{
	color:$cherry;
	grid-row: 2;
    grid-column: 2/ span 5;
	font-size:5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-300px;
}
.cherrytitle1{
	color:$black;
	grid-row: 2;
    grid-column: 2/ span 5;
	font-size:5.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-300px;
}
.motto1{
	color:$black;
	grid-row: 9;
    grid-column: 2/ span 5;
	font-size:1.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
	text-align:center;
}
.cal1{
	color:$black;
	grid-row: 11;
    grid-column: 1/ span 7;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc1{
	color: #212121;
 grid-row: 13 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug1{
color: #212121;
 grid-row: 15;
 grid-column: 2/ span 5;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc1{
	color: #212121;
 justify-self: center;
  grid-row: 17 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro1{
	color: #212121;
 grid-row: 19;
 grid-column: 1/ span 7;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc1{
	color: #212121;
 grid-row: 21 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.melontitle{
	color:$melon;
	grid-row: 1;
    grid-column: 2/ span 5;
	font-size:5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-400px;
}
.melontitle1{
	color:$black;
	grid-row: 1;
    grid-column: 2/ span 5;
	font-size:5.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-400px;
}
.motto2{
	color:$black;
	grid-row: 9;
    grid-column: 2/ span 5;
	font-size:1.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
	text-align:center;
}
.cal2{
	color:$black;
	grid-row: 11;
    grid-column: 1/ span 7;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc2{
	color: #212121;
 grid-row: 13 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug2{
color: #212121;
 grid-row: 15;
 grid-column: 2/ span 5;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc2{
	color: #212121;
 justify-self: center;
  grid-row: 17 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro2{
	color: #212121;
 grid-row: 19;
 grid-column: 1/ span 7;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc2{
	color: #212121;
 grid-row: 21 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.lemontitle{
	color:$lemon;
	grid-row: 1;
    grid-column: 2/ span 5;
	font-size:5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:20;
	margin-top:-500px;
}
.lemontitle1{
	color:$black;
	grid-row: 1;
    grid-column: 2/ span 5;
	font-size:5.1rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:19;
	margin-top:-500px;
}
.motto3{
	color:$black;
	grid-row: 9;
    grid-column: 2/ span 5;
	font-size:1.5rem;
	justify-self:center;
	font-family: 'Light';
	z-index:1;
	text-align:center;
}
.cal3{
	color:$black;
	grid-row: 11;
    grid-column: 1/ span 7;
	font-size:2.5rem;
	justify-self:center;
	font-family: 'Bold';
	z-index:1;
}
.caldesc3{
	color: #212121;
 grid-row: 13 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.sug3{
color: #212121;
 grid-row: 15;
 grid-column: 2/ span 5;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;
}
.sugdesc3{
	color: #212121;
 justify-self: center;
  grid-row: 17 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
.gro3{
	color: #212121;
 grid-row: 19;
 grid-column: 1/ span 7;
 font-size: 2.5rem;
 justify-self: center;
 font-family: 'Bold';
 z-index: 1;

}
.grodesc3{
	color: #212121;
 grid-row: 21 / span 2;
 grid-column: 2/ span 5;
 font-size: 1.5rem;
 justify-self: center;
 font-family: 'Light';
 z-index: 1;
 align-self: center;
 text-align: center;

}
}