@font-face { font-family: 'Bold'; src: url('../fonts/theboldfont.ttf'); }
@font-face { font-family: 'Light'; src: url('../fonts/TheLightFont.ttf'); }
@font-face { font-family: 'Geo'; src: url('../fonts/GeosansLight.ttf'); }

h1{
	font-family:'Bold';
}
h2{
	font-family:'Light';
}

p{
	font-family:'Geo';
}
li{
	font-family:'Geo';
	list-style:none;
}